###### Requirements without Version Specifiers ######
beautifulsoup4
numpy
requests
seaborn
altair
duckdb
streamlit
panel
plotly
pytest

###### Requirements with Version Specifiers ######
pandas >= 1.0.0
